# 파이썬 컴파일 파일 (Byte-compiled / optimized / DLL files)
__pycache__/
*.py[cod]
*$py.class
htmlcov/

# 가상환경 폴더 (Virtual Environments)
venv/
env/
.venv/
.env

# 배포 패키지 관련 (Distribution / packaging)
build/
dist/
*.egg-info/

# IDE 설정 파일 (필요 시 추가)
.vscode/
.idea/

# 맥(Mac) 시스템 파일
.DS_Store

# OS
Thumbs.db